.container {
  display: flex;
}

.overlay {
  position: relative;
  width: 160%;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  padding: 25px;
  width: 100%;
}

.title {
  padding-top: 66px;
  padding-bottom: 16px;
  font-family: "ivypresto-display";
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #E5E5E6;
}

.people {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 16px;
  margin-bottom: 28px;
}

.person {
  display: flex;
  align-items: center;
  grid-column: span 6;
}

.avatar {
  height: 35px;
  width: 35px;
  margin-right: 8px;
  border-radius: 50%;
}

.tag {
  margin: 0;
  font-size: 14px;
  color: #828282;
}

.body {
  margin: 0;
  font-size: 16px;
  color: #828282;
  line-height: 124.5%;
}

.button {
  display: block;
  margin-top: 30px;
  padding: 20px 60px;
  border: 1px solid #4F4F4F;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #828282;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .overlay {
    position: static;
    width: 100%;
  }

  .image {
    position: static;
    width: 100%;
  }

  .title {
    padding-top: 0;
    font-size: 24px;
  }

  .body {
    font-size: 12px;
  }

  .logo {
    position: static;
  }

  .person {
    grid-column: 1 / -1;
  }
}
