.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 11, 0);
  backdrop-filter: blur(10px);
  z-index: 100;
  overflow-y: auto;
  animation: blurTransition 0.3s forwards cubic-bezier(0.02, 0.8, 0.2, 1);
}

.content {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 42px 52px;
  opacity: 1;
  background-color: #000;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  overflow: hidden;
  animation: contentTransition 0.7s forwards cubic-bezier(0.02, 0.8, 0.2, 1);
}

@keyframes contentTransition {
  0% {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes blurTransition {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(10px);
  }
}

.active {
  display: block;
}

.body {
  overflow: hidden;
}

.large {
  width: 90%;
  padding: 0;
}

@media screen and (max-width: 471px) {
  .aboutModal {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 500px;
    padding: 42px 52px;
    background-color: #000;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
    padding: 26px;
    flex-direction: column;
  }

  .large {
    padding: 0;
  }
}

@media screen and (min-width: 820px) {
  .large {
    width: 800px;
    min-height: 500px;
  }
}
