.button {
  height: 56px;
  border-radius: var(--space-8x);
  margin-top: var(--space-4x);
  border: 1px solid #ffffff;
  background: none;
  cursor: pointer;
  font-size: var(--text-md);
  letter-spacing: -0.02em;
  outline: none;
  font-weight: 500;
  color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button:hover,
.button:focus {
  background: black;
}

@media (max-width: 599px) {
  .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button {
    width: 80%;
  }
}

@media (min-width: 600px) {
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--space-8x);
  }
  .button {
    width: 150px;
  }
  .register {
    width: 280px;
  }
}
