.form {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.submit {
  width: 100%;
  height: 56px;
  margin-top: var(--space-4x);
  border-radius: var(--space-2x);
  border: 1px solid var(--brand);
  background: var(--brand);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--text-md);
  letter-spacing: -0.02em;
  outline: none;
  font-weight: 500;
  color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .submit {
    width: 40%;
  }
}

.submit.loading {
  cursor: default;
}

.submit.default:hover,
.submit.default:focus {
  background: black;
  color: var(--brand);
}

.submit.default.generate-with-github:hover path,
.submit.default.generate-with-github:focus path {
  fill: var(--brand);
}

.submit.error:hover,
.submit.error:focus {
  background: #000;
  color: #fff;
}

.submit.default:disabled,
.submit.default:disabled:hover,
.submit.default:disabled:focus {
  cursor: default;
  background: var(--gray);
  border-color: var(--gray);
  color: #fff;
  justify-content: flex-start;
  overflow: hidden;
}

.submit.default.generate-with-github:disabled path,
.submit.default.generate-with-github:disabled:hover path,
.submit.default.generate-with-github:disabled:focus path {
  fill: #fff;
}

.submit.default.generate-with-github.not-allowed:disabled {
  cursor: not-allowed;
}
