.profile {
  display: flex;
  height: 100% !important;
}

.image {
  width: 30%;
  height: 100%;
  object-fit: cover;
  padding: 1px;
  border-radius: calc(var(--space-4x) * var(--size)) 0 0 calc(var(--space-4x) * var(--size));
}


.logo {
  position: absolute;
  top: calc(14px * var(--size));
  left: calc(14px * var(--size));
  height: auto;
  width: calc(80px * var(--size));
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: calc(32px * var(--size)) calc(30px * var(--size)) calc(26px * var(--size));
  width: 100%;
}

.content p {
  margin: 0;
}

.heading {
  padding-bottom: calc(5px * var(--size));
  font-family: "ivypresto-display";
  font-size: calc(28px * var(--size));
  font-weight: normal;
  line-height: 103.5%;
  text-transform: uppercase;
}

.subheading {
  font-size: calc(16px * var(--size));
  text-transform: uppercase;
  color: #828282;
}

.name {
  font-size: calc(20px * var(--size));
  line-height: calc(24px * var(--size));
  text-transform: uppercase;
  color: #E5E5E6;
}

.details {
  display: flex;
  justify-content: space-between;
}

.item:last-child {
  margin-right: calc(30px * var(--size));
}

.title {
  font-size: calc(16px * var(--size));
  line-height: calc(19px * var(--size));
  color: #828282;
}

.body {
  font-size: calc(16px * var(--size));
  text-transform: uppercase;
  line-height: calc(19px * var(--size));
  color: #E5E5E6;
}

/* @media screen and (max-width: 768px) {
  .logo {
    width: 40px;
  }

  .content {
    margin: 17px 32px 17px 16px;
  }

  .heading {
    font-size: 16px;
    line-height: 103.5%;
  }

  .subheading {
    font-size: 9px;
  }

  .name {
    font-size: 12px;
  }

  .title {
    font-size: 11px;
  }

  .body {
    font-size: 9px;
  }
} */
